.blog-logo img {
  height: 60px;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 0;
}

.post-head.blog-cover.main-header {
  height: 40vh;
}

@media only screen and (max-width: 900px) {
  .post-head.blog-cover.main-header {
    height: 30vh;
  }
}

@media only screen and (max-width: 500px) {
  .post-head.blog-cover.main-header {
    height: 20vh;
  }
}
